*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #181b20;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.nav_logo{
    height: 50px;
    width: 100px;
    
}

.logo{
    background-image: url(amazon_logo1.png);
    background-size: cover;
    height: 50px;
    width: 100%;
    /* margin: 1px;
    padding-left: 6px;
    padding-right: 8px; */
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

/* box2 */


.loc_first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.loc_sec{
    font-size: 1rem;
    margin-left: 3px;
}

.location_logo{

    display: flex;
}

/* 3rd box */



.nav_search{

    display: flex;
    justify-content: space-evenly;
    background-color: blue;
    width: 900px;
    height: 40px;
    border-radius: 4px;
    
}

.search_select{
    background-color: #f3f3f3;
    text-align: center;
    width: 51px;
    height: inherit;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search_input{
    width: 100%;
    font-size: 1rem;
}
.search_icon{
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgb(59, 59, 244);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0F1111;
}

.nav_search:hover{
        border: 2px solid rgb(59, 59, 244);
}

/* 4th box */



span{
    font-size: 0.8rem;
}


.nav_second{
    font-size: 0.90rem;
    font-weight: 700;
}


/* 5th box  */


.nav_cart i{
    font-size: 28px;
}

.nav_cart{
    font-size: 0.90rem;
    font-weight: 700;
}


/* panal */


.panel{

    color: white;
    height: 30px;
    background-color:  #2c3647;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.panel_ops p{
    display: inline;
    margin-left: 15px;
}

.panel_ops{
        width: 90%;
        font-weight: 0.9rem;

}


/* hero section */


.hero_section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;    
}


.hero_message{
    background-color: #f5f6f6;
    height: 40px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 350px;
    font-size: 0.90rem;
}
.hero_message a{
    color: #2162A1;
}


/* shop section */

.shop_section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
  
    

}


.box{

    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 20px;

}

.box_image{
    
    background-size: cover;
    height: 325px;
    margin: 1rem 0rem 1rem ;

}

.single_image_box{
        margin-left: 1rem;
        margin-right: 1rem;
}

footer{
    margin-top: 15px;
}

.foot_panel1{
    height: 50px;
    background-color:  #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.90rem;
}


.foot_panel2{
    color: white;
    background-color: #222f3d;
    height: 500px;
    display: flex;
    justify-content: space-evenly;

}

ul a{
     text-decoration: none;
    color: #DDDDDD;
    display: block;
    font-size: 0.90rem;
    margin-top: 10px;
}
ul{
    margin-top: 100px;
}

ul p{
    margin: 15px 0px 15px ;
    font-size: 16px;
    font-weight: bolder;
}